.box_e{
    margin-top: 5px;
    border-radius: 20px;
    border:1px solid  red;
    padding: 5px;
}
.box_s{
    margin-top: 5px;
    border-radius: 20px;
    border:1px solid blue;
    padding: 5px;
}