
<ion-header mode="ios">
  <ion-toolbar mode='ios' style="padding:0px;">
      <ion-chip slot="start" outline="true" color="light" style="height: 50px;width: 80px; cursor: pointer;" (click)="functionExecute('btnBack',{componente:'home'})">
        <ion-icon name="arrow-back-outline"   color='primary'></ion-icon>
        <ion-icon name="person-circle-outline" [ngStyle]="{'position':'absolute','padding-left':'10px',  'font-size':'50px','color': dadosConversa.photo  }" ></ion-icon>
        <ion-badge class="badgeorigem"><img src="../../../../assets/img/{{ dadosConversa.canal}}.svg" /></ion-badge>
        <ion-badge class="badgefavorito" *ngIf="dadosConversa.favorito == 1 "><img src="../../../assets/img/star.svg" /></ion-badge>
        
      </ion-chip>
      <ion-label style='font-size: small;'>
        <p style="cursor: pointer;" (click)="functionExecute('compchatcontatoedit',{contatoUid:dadosConversa.contatoUid})"><strong>{{ dadosConversa.contatoNome | titlecase }}</strong></p>
        <p><ion-icon name="person-outline" ></ion-icon>&nbsp;{{ dadosConversa.usuarioNome | titlecase }}</p>
        <p><ion-icon name="business-outline"></ion-icon>&nbsp;{{ dadosConversa.nomeClienteVinculado | titlecase }}</p>
      </ion-label>
      <ion-item slot="end" style="text-align: right;" lines='none'>
        
        <!-- INFORMAR QUE EXISTE ALERTA AGENDADO -->
        <ion-icon name="alarm-outline" color='success' style='cursor: pointer;' *ngIf="lembreteToDoUid" (click)="AbrirTodo(lembreteToDoUid)"></ion-icon>
        
        
        <ion-button fill="clear" class="send-button" (click)="MenuPopoverCreate($event)" >
          <ion-icon name="ellipsis-vertical-outline" color='primary' ></ion-icon>
        </ion-button>
      </ion-item>
  </ion-toolbar> 

  <ion-toolbar *ngIf="qtdProdutosVisitados > 0">
    <ion-item lines='none'>
      <ion-label (click)="visualizarProdutosVisitados()">
        <ion-chip color='warning'>
          <ion-icon name="information-circle-outline"></ion-icon>
          <ion-label >Este contato visitou {{qtdProdutosVisitados}} produto(s) </ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>
  </ion-toolbar>
  
  <!-- DADOS DO CASO -->
  <ion-toolbar *ngIf="casoUid  != '' ">
    <ion-item lines='none'  >
      <ion-label (click)="abrirTicket()" >
        <ion-chip color='warning' > 
          <ion-icon name="information-circle-outline"></ion-icon>
          <ion-label >Existe ticket em andamento para este contato </ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>
  </ion-toolbar>
  
</ion-header>

<ion-content  [scrollEvents]="true"
(ionScrollStart)="logScrollStart()"
(ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd()" slot="fixed">
  <ion-grid > 
    <ion-row *ngFor="let listMensagem of mensagens "  id="listMensagem">
      <ion-col size="1" *ngIf="checkboxencaminhar && listMensagem.tipo  != 'info' && listMensagem.tipo != undefined" class="align-col-content">
        <ion-row> 
          <ion-checkbox [checked]="allCheckboxes" mode="ios" (ionChange)="forwardMessageSelect($event, listMensagem )"></ion-checkbox>
        </ion-row>
      </ion-col>
      
      <ion-col class="msg_{{listMensagem.es}}">
        <ion-row>
          <ion-icon  *ngIf="listMensagem.tipo  != 'info'" name="chevron-down-outline" class="msg-options" style="cursor: pointer;font-size: 16px; margin-left: auto;" (click)="MenuPopoverMensagem($event,listMensagem)"></ion-icon>
        </ion-row>
        
        <ion-row>

          <!-- INFO  -->
          <ion-label class="msg-info" *ngIf="listMensagem.tipo == 'info' " style="white-space: pre-line;">
            {{listMensagem.mensagem}}
          </ion-label>  
          <!-- CITAÇÃO -->
            <ion-label class="msg-body answer-box" *ngIf="listMensagem.citacao != null && listMensagem.citacao != '' ">
                <ion-list style="display: grid; background: transparent;">
                  <p class="msg-reply-autor">{{listMensagem.autorNome}}</p>
                  <p>{{listMensagem.citacao}}</p>
                </ion-list>
            </ion-label>

          <!-- TEXTO -->
          <ion-label class="msg-body" *ngIf="listMensagem.tipo == 'texto' " style="white-space: pre-line;">
            {{listMensagem.mensagem}}
          </ion-label>

          <!-- AUDIO -->
          <ion-label class="msg-body" *ngIf="listMensagem.tipo == 'audio' ">
            <audio class="msg-audio" src="{{listMensagem.anexo }}"  controls>
            </audio>
            {{listMensagem.mensagem}}
          </ion-label>


           <!-- VIDEO  -->
           <ion-label class="msg-body" *ngIf="listMensagem.tipo == 'video' ">
            <video class="msg-audio" src="{{listMensagem.anexo }}" width="50" height="150" controls>
            </video>
            {{listMensagem.mensagem}}
            {{listMensagem.citacao}}
          </ion-label>


          <!-- IMAGEM -->
          <ion-label class="msg-body"  *ngIf="listMensagem.tipo == 'imagem' " (click)="viewImage(listMensagem.anexo)">
            <img (error)="changeSource($event, listMensagem.anexo)" class="msg-img" src="{{ listMensagem.anexo}}" >     
            {{listMensagem.citacao}} 
          </ion-label>

          <!-- ENVIO DE DOCUMENTO  -->
          <ion-label class="msg-body"  *ngIf="listMensagem.tipo == 'documento' " (click)="Download(listMensagem.anexo)" style="cursor: pointer;">
            <ion-icon name="document-attach-outline"></ion-icon> Envio de documento  
          </ion-label>
          
          <!-- LINK -->
          <ion-label class="msg-body" *ngIf="listMensagem.tipo == 'link' ">
            <ion-row>
              <a href="www.google.com" target="_blank" rel="noopener">
                <ion-row class="link-received">
                  <ion-col size="3">
                    <ion-img src="../../../../assets/img/default-user-icon.jpg"></ion-img>
                  </ion-col>
                  <ion-col size="9" class="msg-bubble">
                    <ion-label>
                      <strong style="font-size:  14px;">Lorem Ipsum</strong>
                      <p>dolor sit amet</p>
                    </ion-label>
                  </ion-col>
                </ion-row>
              </a>
            </ion-row>
            <ion-row>
              <ion-label class="msg-link-text">
                {{listMensagem.mensagem}}
              </ion-label>
            </ion-row>

          </ion-label>
        
        </ion-row>
        <ion-row>
            <ion-label class="autor">
              {{listMensagem.autorNome}}
            </ion-label>
            <ion-label class="detalhe align-col-content">
              {{listMensagem.createAt | date:'dd/MM/y' }}&nbsp;{{listMensagem.createAt | date:'shortTime' }} &nbsp;
              
                <ion-icon name="time-outline" *ngIf="listMensagem.es == 's' &&  listMensagem.entregueTag == 0 "></ion-icon>
                <ion-icon name="checkmark-outline" *ngIf="listMensagem.es == 's' && listMensagem.entregueTag == 3"></ion-icon>
                <ion-icon name="checkmark-done-outline" *ngIf="listMensagem.es == 's' && listMensagem.entregueTag == 2"></ion-icon>
                <ion-icon name="checkmark-done-outline" class="colorcheckmark_{{ listMensagem.entregueTag }}" *ngIf="listMensagem.es == 's' && listMensagem.entregueTag == 1"></ion-icon>
                <ion-icon (click)="verErro(listMensagem.errorMsg)" name="warning-outline" class="colorcheckmark_{{ listMensagem.entregueTag }}" *ngIf="listMensagem.es == 's' && listMensagem.entregueTag == 4"></ion-icon>

            </ion-label>
        </ion-row>
      </ion-col>

    </ion-row>
  </ion-grid>
  <div  class="btrolagem"  *ngIf="scrollBtnVisible"  (click)="clickRolagem()">

    <ion-icon name="mail-unread" color='success'></ion-icon>
    
  </div>
  
</ion-content>
<ion-footer mode='ios' class="chat-input ion-footer-mobile" >
  <ion-toolbar> 

    <ion-item lines='none'  *ngIf="assumirAtendimento && !checkboxencaminhar">
      <textarea #msgBox class="textarea-send" autosize  rows="1" maxRows="3" placeholder="Digite uma mensagem..." style="padding: 5px; resize: none; white-space: pre-wrap;border:0;" [(ngModel)]="chatMessageService.desktopMsg" (click)="checkMsg($event)" (keydown)="checkMsg($event)" (keyup)="armazenarMensagemDigitada()"></textarea>
      <ion-button *ngIf="devicePlatform == 'desktop'" fill="clear" color="primary" class="send-button" (click)="emojiPopoverCreate($event)" >
        <ion-icon name="happy-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" class="send-button" (click)="MenuPopoverCreate($event)" >
        <ion-icon class="send-attach" name="attach-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" class="send-button" (click)="sendMsg()" >
        <ion-icon class="send-icon-arrow" name="send-outline" slot="icon-only"></ion-icon>
        <!-- <ion-icon class="send-icon-mic" name="mic-outline" slot="icon-only" *ngIf="buttonMessage"></ion-icon> -->
      </ion-button>
    </ion-item>

    <ion-item *ngIf="checkboxencaminhar" lines="none" class="forward-footer">
      <ion-button slot="start" fill="clear" (click)="cancelForward()">
        <ion-icon name="close-outline" style="font-size: 25px;"></ion-icon>
      </ion-button>
      <ion-label> {{forwardedMessages.length}} Selecionadas</ion-label>
      <ion-button slot="end" fill="clear" [disabled]="forwardedMessages.length == 0 || !forwardedMessages" (click)="closeForwardFooter()">
        <ion-icon name="arrow-redo-outline" style="font-size: 25px;"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item lines='none' *ngIf="!assumirAtendimento">
      <ion-button expand="block" (click)="assumirConversa()"  size="large" style="margin-left:40px;"> 
        <ion-icon name="lock-open-outline" slot="start" ></ion-icon>&nbsp;
        <ion-label>Assumir conversa</ion-label>
      </ion-button>
    </ion-item>


  </ion-toolbar>
</ion-footer>


