<ion-header mode='ios'>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
     
    </ion-buttons>
    <ion-title>Conf > Rede social </ion-title>
  </ion-toolbar>

  
</ion-header>

<ion-content>
  <ion-list>
    
    <ion-item routerLink="/configuracoes/chat/home/telegram" routerdirection="forward" >
      <ion-label>
        <p><strong>Telegram</strong></p>
        <p color='medium'>Configurar o mensageiro Telegram</p>

      </ion-label>
     
    </ion-item>
    
    <ion-item  routerdirection="forward" >
      <ion-label>
        <p><strong>WhatsAPP</strong></p>
        <p color='medium'>Configurar o mensageiro WhatsApp</p>

      </ion-label>
      <ion-label slot="end">
        <p color="danger" > Premium</p>
      </ion-label>
    </ion-item>

    <ion-item  routerdirection="forward" >
      <ion-label>
        <p><strong>Facebook</strong></p>
        <p color='medium'>Configurar Messenger Facebook</p>

      </ion-label>
      <ion-label slot="end">
        <p color="danger">Premium</p>
      </ion-label>
    </ion-item>

    <ion-item  routerdirection="forward" >
      <ion-label>
        <p><strong>E-mail</strong></p>
        <p color='medium'>Configure sua conta de e-mail</p>

      </ion-label>
      <ion-label slot="end">
        <p color="danger">Premium</p>
      </ion-label>
    </ion-item>

    
 
  </ion-list>

 



</ion-content>
  