span{
    position: absolute;
    font-size: small;
    top: 0;
}
.oportunidadeInicio
{
    
    display: inline-block;
    left:  0;
}
.oportunidadefim
{
    
    display: inline-block;
    float: right;
    text-align: right;
}