<ion-header mode='ios'>
  <ion-toolbar>
    <ion-title color='primary'>Enviar por WhatsApp</ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-fab vertical="top" horizontal="start" slot="fixed">
  <ion-fab-button color="secondary" (click)="closeModal()">
    <ion-icon name="close-circle-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content>
  <ion-item  style="margin-top: 10px;" lines='none'>
    <ion-item class="ionitem" style="width: 100vw;">
      <ion-label color="primary" stacked >Telefone destinatário</ion-label>
      <ion-input type="text"  [(ngModel)]="dadosEnvio.para" ></ion-input>
    </ion-item>
    
  </ion-item>
  
  <ion-item style="margin-top: 10px;" lines='none'>
    
    <ion-item class="ionitem" style="width: 100vw;" >
      <ion-label color="primary" stacked >Anexo</ion-label>
      <ion-input type="text"  [(ngModel)]="dadosEnvio.anexo" readonly></ion-input>
     
      
    </ion-item>

  </ion-item>
  <ion-item lines='none' style="margin-top: 20px;">
    <ion-item  class="ionitem" style="width: 100%;">
      <ion-label >Mensagem</ion-label>
      <ion-textarea rows="6"  [innerHTML]="dadosEnvio.mensagem" ></ion-textarea>
    </ion-item>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-button  expand="full" color='success' [disabled]="dadosEnvio.mensagem == '' || dadosEnvio.para == ''  " (click)="enviar()" >Enviar</ion-button>
</ion-footer>