<ion-list *ngIf="!ckselecionar2">
  <ion-item   (click)="acaoExecutar('habilitar')">
    <ion-icon name="checkbox-outline" slot="start"></ion-icon>
    <ion-label>Selecionar</ion-label>
  </ion-item>
  
  
</ion-list>

<ion-list *ngIf="ckselecionar2">
  <ion-item lines='full' *ngIf="!selecionarTodos" (click)="acaoExecutar('selecionartodos')" >
    <ion-icon name="checkbox-outline" slot="start"></ion-icon>
    <ion-label>Selecionar todos</ion-label>
  </ion-item>
  <ion-item lines='full' *ngIf="selecionarTodos" (click)="acaoExecutar('limpartodos')" >
    <ion-icon name="checkbox-outline" slot="start"></ion-icon>
    <ion-label>Limpar todos</ion-label>
  </ion-item>
  <ion-item lines='full'  (click)="acaoExecutar('transferir')">
    <ion-icon name="arrow-redo-outline" slot="start"></ion-icon>
    <ion-label>Transferir</ion-label>
  </ion-item>
  <ion-item lines='full'  (click)="acaoExecutar('finalizar')">
    <ion-icon name="close-outline" slot="start"></ion-icon>
    <ion-label>Finalizar</ion-label>
  </ion-item>
  <!--  
    <ion-item  lines='full' (click)="acaoExecutar('distribuir')">
    <ion-icon name="aperture-outline" slot="start"></ion-icon>
    <ion-label>Distribuir</ion-label>
  </ion-item>
  -->

  
  
</ion-list>