<ion-header mode='ios' >
  <ion-toolbar>
    <!-- <ion-icon name="arrow-back-outline" slot="start" class='btnVoltar' (click)="functionExecute('btnBack',{componente:'home'})" style="cursor: pointer;"></ion-icon> -->
    <ion-title class="titulo">Contatos</ion-title>
    <!-- <ion-icon name="person-add-outline" slot="end" class='btnVoltar' style="cursor: pointer;" (click)="functionExecute('chatContatoEdit',{})"></ion-icon> -->
  </ion-toolbar>

  <ion-toolbar mode="ios" style="margin-top: 23px;">
    <ion-grid >
      <ion-row >
        <ion-col > 
          <ion-searchbar #q animated placeholder="Pesquisar" (keyup.enter)="search(q.value)" (click)="Closefab()"></ion-searchbar>
        </ion-col>
        <ion-col size='1'>
          <ion-button color="secondary" size='small' (click)="abrirFiltros()">
            <ion-icon name="funnel-outline"></ion-icon>
          </ion-button>
            
        </ion-col>
      </ion-row>
    </ion-grid>
   
    

  </ion-toolbar>

  <ion-toolbar  mode="ios" style="margin-top: -10px;">
    <ion-radio-group [(ngModel)]="filterString" style="margin-top: 1px;">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label style="font-size: small;"><strong>Pesquisar por: </strong></ion-label>
            <ion-radio value="nome" mode='ios'></ion-radio>
            <ion-label style="font-size: small;"> Nome</ion-label>
            &nbsp;&nbsp;&nbsp;
            <ion-radio value="numero" mode='ios'></ion-radio>
            <ion-label style="font-size: small;"> Número</ion-label>
          </ion-col>
          
        </ion-row>
      </ion-grid>
    </ion-radio-group>
    <ion-button fill="outline" size='small' slot="end" color='secondary' *ngIf="selecionarItem" (click)="popoverFiltrosOpacao($event)">
      <ion-icon name="arrow-down-outline"></ion-icon>
    </ion-button>
    
  </ion-toolbar>
  <!-- 
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label style="font-size: 10px;">Filtrar por: &nbsp;</ion-label>

        <ion-chip [color]="filtroCheckboxes.contatos" (click)="contatosFilter('contatos')">
          <ion-label>Contatos</ion-label>
        </ion-chip>

        <ion-chip [color]="filtroCheckboxes.listas" (click)="contatosFilter('listas')">
          <ion-label>Listas de Transmissão</ion-label>
        </ion-chip>

        <ion-label style="margin-left: auto; font-size: 12px; font-weight: bold;">Contatos listados: {{contatosLength}}</ion-label> 
      </ion-col>
    </ion-row>
  </ion-grid>
-->
</ion-header>

<ion-fab class="float-fab-left" vertical="top" horizontal="start" slot="fixed">
  <ion-fab-button color="secondary" (click)="functionExecute('btnBack',{componente:'home'})">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

  <ion-fab class="float-fab-right" horizontal="end" vertical="top" slot="fixed" #fab>
    <ion-fab-button>
      <ion-icon name="grid-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="success" (click)="functionExecute('compContatoAdd',{})">
        <ion-icon name="person-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="success" (click)="functionExecute('complisttransmissaodetalhe',{})">
        <ion-icon name="people-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary" (click)="functionExecute('CompchatrelatoriosComponent',{})" >
        <ion-icon name="pie-chart-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

<ion-content class="search-filter-content">
  <ion-grid *ngIf="items.length == 0" >
    <ion-row>
      <ion-col style="text-align: center;font-size: small;">
        Não existem dados a serem exibidos.
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- CARREGAmento -->
  <ion-list *ngIf="!items" >
    <ion-item>
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- LISTA DE CONTATOS -->
  <ion-list  *ngFor="let item of items; let i = id" style="padding: 0 !important;display: flex;align-items: center;" >
    <ion-checkbox *ngIf="selecionarItem" [(ngModel)] = "item.selecionado" ></ion-checkbox>
    <ion-item-sliding #i style="padding: 0 !important;">
      
      <ion-item  mode='ios' detail='false'  (click)="i.open();Closefab();" button style="padding: 0 !important;" >

        <ion-badge class="badgeorigem" *ngIf="item.canal != 'lista'"><img src="../../../../assets/img/{{item.canal}}.svg" /></ion-badge>
        <ion-badge class="badgeorigem" *ngIf="item.canal == 'lista'"><img class="lista-icon" src="../../../../assets/img/{{item.canal}}.svg" /></ion-badge>
        <ion-icon name="person-circle-outline" *ngIf="item.canal != 'lista'" [ngStyle]="{'font-size':'50px','color': item.photo  }" class="ion-icon"></ion-icon>
        <ion-icon name="people-circle-outline" *ngIf="item.canal == 'lista'" [ngStyle]="{'font-size':'50px','color': item.photo  }" class="ion-icon"></ion-icon>
        <ion-badge class="badgefavorito" *ngIf="item.favorito == true "><img src="../../../../assets/img/star.svg" /></ion-badge>
        <ion-label >
          <h3><strong>{{ item.nome | titlecase }}</strong></h3>
          <p>
          <ion-label>
              <p *ngIf="item.canal == 'lista'"><ion-icon name="calendar-outline"></ion-icon> Data de Criação: {{item.createAt | date: 'dd/MM/yyyy'}}</p>
              <p *ngIf="item.canal == 'lista'"><ion-icon name="people-outline"></ion-icon> Quantidade de Participantes: {{item.contatosVinculados.length}}</p>
              <p *ngIf="item.nomeClienteVinculado != '' && item.nomeClienteVinculado != null"><ion-icon name="business-outline"></ion-icon>&nbsp;{{item.nomeClienteVinculado | titlecase}}&nbsp;</p>
              <p *ngIf="item.canal == 'email'"><ion-icon name="mail-outline"></ion-icon>&nbsp;{{item.origem}}</p>
              <p *ngIf="item.canal == 'whatsapp' && item.situacao == 1 && item.origem != ''"><ion-icon name="call-outline"></ion-icon>&nbsp;{{item.origem}}  </p>
              <p *ngIf="item.canal == 'whatsapp' && item.situacao == 2 && item.origem != ''"><ion-icon name="call-outline"></ion-icon>&nbsp;{{item.origem}}  </p>
              <p *ngIf="item.canal == 'whatsapp' && item.situacao == 4 && item.origem != ''"><ion-icon name="call-outline" color='danger'></ion-icon>&nbsp;{{item.origem}} N. invalido </p>
              <p *ngIf="item.canal == 'whatsapp' && item.situacao == 5 && item.origem != ''"><ion-icon name="call-outline" color='warning' ></ion-icon>&nbsp;{{item.origem}} Ag. Validação </p>
              <p *ngIf="item.canal == 'telegram' && item.origem != ''"><ion-icon name="chatbubble-outline"></ion-icon>&nbsp;{{item.origem}}</p>
              <p *ngIf="item.canal == 'facebook' && item.origem != ''"><ion-icon name="chatbubble-outline"></ion-icon>&nbsp;{{item.origem}}</p>
              <p *ngIf="item.canal == 'telfixo' && item.origem != ''"><ion-icon name="call-outline"></ion-icon>&nbsp;{{item.origem}}</p>
              <p *ngIf="item.nomeClienteVinculado == '' && item.canal != 'lista' || item.nomeClienteVinculado == null && item.canal != 'lista'">&nbsp;</p>
              <p *ngIf="item.origem == '' && item.canal != 'lista' || item.origem == null && item.canal != 'lista'">&nbsp;</p>


          </ion-label>  
        
          </p>
        
        </ion-label>
      
        
      </ion-item>

      <ion-item-options side="end">
        <!-- FUNCAO DE SELECIONAR -->
        <ion-item-option color='secondary'  *ngIf="pedidoUid" >
          <ion-label slot="icon-only" >
            <p>Selecionar</p>
          </ion-label>
        </ion-item-option>

        <!-- EDITAR CONTATO -->
        <ion-item-option color='medium' *ngIf="item.canal != 'lista'" (click)="functionExecute('compContatoAdd',{contatoUid: item.id});">Editar</ion-item-option>
        <ion-item-option color='secondary' *ngIf="item.canal == 'lista'" (click)="functionExecute('ListatransmissaoPerformanceComponent',item);"><ion-icon name="bar-chart-outline" size='large'></ion-icon></ion-item-option>
        <ion-item-option color='success' *ngIf="item.canal == 'lista'" (click)="functionExecute('ListatransmissaoAddComponent',item);">Transmitir</ion-item-option>
        <ion-item-option color='danger' *ngIf="item.canal == 'lista'" (click)="deleteContato(item.id);">Deletar</ion-item-option>
        <!-- FIM PARA  SELECIONAR COMERCIAL -->
        
        <!-- ACOES PARA  EMAIL -->
        <ion-item-option *ngIf="item.canal == 'email' && item.situacao == 1 " color='secondary' (click)="sendMail('leandro@asdas.com.br')" >Escrever</ion-item-option>
        <!-- FIM ACOES EMAIL -->

        <!-- ACOES PARA  WHATSAPP -->

        <ion-item-option *ngIf="item.canal == 'whatsapp' && (item.situacao == 1 || item.situacao == 2)  "  color='success' (click)="startConversa(item)">Conversar</ion-item-option>
     

    
        <!-- FIM ACOES WHATSAPP -->

        <!-- ACOES PARA  TELEGRAM -->
        <ion-item-option *ngIf="item.canal == 'telegram' && item.situacao == 1 " color='success' (click)="startConversa(item)">Conversar</ion-item-option>
        <ion-item-option *ngIf="item.canal == 'telegram' && item.situacao == 2 " color='secondary' (click)="agendarChat(item)" >Agendar</ion-item-option>
        <!-- FIM ACOES TELEGRAM -->

        <!-- ACOES PARA  FACEBOOK -->
        <ion-item-option *ngIf="item.canal == 'facebook' && item.situacao == 1 " color='success' (click)="startConversa(item)">Conversar</ion-item-option>
        
        <!-- FIM ACOES FACEBOOK -->

        <!-- ACOES PARA  TELFIXO -->
        <ion-item-option *ngIf="item.canal == 'telfixo' && item.situacao == 1 " color='secondary' >LIGAR</ion-item-option>
        <!-- FIM ACOES TELFIXO -->

      </ion-item-options> 
    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll threshold="20%" (ionInfinite)="loadData($event)" *ngIf="scrollAuto && !selecionarItem" >
    <ion-infinite-scroll-content style="font-size: x-small;"
      loadingSpinner="bubbles"
      loadingText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>