<ion-header mode='ios'>
  <ion-toolbar>
    <ion-title color='primary'>Lista de cidade {{ uf }}</ion-title>
  </ion-toolbar>
  <ion-toolbar mode='ios' style="margin-top: 20px;">
    <ion-buttons slot="primary">
      <ion-button (click)="clickedSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="Buscar por nome de cidade"></ion-searchbar>
  </ion-toolbar>
 
</ion-header>

<ion-fab vertical="top" horizontal="start" slot="fixed">
  <ion-fab-button color="secondary" (click)="closeModal()">
    <ion-icon name="close-circle-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>



<ion-content style="padding-top: 20px;">
  
  <ion-list *ngFor="let item of items " style="padding:0px;">
    <ion-item lines='full' style="cursor: pointer;padding:0px;" (click)="selecionarCidade(item)">
      <ion-label slot="start">
       <p style="font-size: small;">{{ item.nome | titlecase }}</p>
        
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>