.custom-popover{
    --min-height:500px;
    --width:500px;
    $popover-md-width: 600px;
$popover-ios-width: 600px;
$popover-wp-width: 600px;
}
$popover-md-width: 600px;
$popover-ios-width: 600px;
$popover-wp-width: 600px;




ion-item{
    cursor: pointer;
}