



<ion-list>
  
  <!-- 
  <ion-item lines="none"    mode="md"  (click)="abrirTicket()">
    <ion-icon slot="start"  name="reader-outline"></ion-icon>
    <ion-label>
      Criar recebimento
    </ion-label>
  </ion-item>
  -->
  <ion-item-divider color="secondary">
    <ion-label>
      Opções especiais
    </ion-label>
  </ion-item-divider>

  <ion-item lines="none" (click)="abrirBackup();">
    
    <ion-icon slot="start" name="close-outline"></ion-icon>
    <ion-label>
      Backup
    </ion-label>
  </ion-item>
  <ion-item-divider color="secondary">
    <ion-label>
      Opções gerais
    </ion-label>
  </ion-item-divider>

  <ion-item lines="none"    mode="md"  (click)="AbrirBaseConhecimento()">
    <ion-icon slot="start"  name="reader-outline"></ion-icon>
    <ion-label>
      Respostas 
    </ion-label>
  </ion-item> 


  <ion-item lines="none"    mode="md"  (click)="abrirTicket()">
    <ion-icon slot="start"  name="reader-outline"></ion-icon>
    <ion-label>
      Caso 
    </ion-label>
  </ion-item> 


  <ion-item lines="none"    mode="md"  (click)="abrirOrcamento()">
    <ion-icon slot="start"  name="reorder-four-outline"></ion-icon>
    <ion-label>
      Orçamento 
    </ion-label>
  </ion-item>
 

  <ion-item lines="none"  (click)="takePhoto();" mode="md" *ngIf="plataforma == 'hybrid' " >
    <ion-icon slot="start" name="camera-outline"></ion-icon>
    <ion-label>
      Camera
    </ion-label>
  </ion-item>


  <ion-item lines="none"   (click)="upload();" mode="md" *ngIf="plataforma == 'hybrid' ">
    <ion-icon slot="start"  name="document-attach-outline"></ion-icon>
    
    <ion-label>
      Documentos 
    </ion-label>
  </ion-item>

  <ion-item lines="none"   (click)="uploadDesk();" mode="md" *ngIf="plataforma != 'hybrid' ">
    <ion-icon slot="start"  name="document-attach-outline"></ion-icon>
    
    <ion-label>
      Anexar
    </ion-label>
  </ion-item>

  <ion-item lines="none" (click)="modalTransferencia();">
    <ion-icon slot="start" name="arrow-redo-outline"></ion-icon>
    <ion-label>
      Transferir
    </ion-label>
  </ion-item>

  <ion-item lines="none" (click)="lembrete();" *ngIf="exibiralerta">
    <ion-icon slot='start' name="alarm-outline"></ion-icon>
    <ion-label>
      Lembrete
    </ion-label>
  </ion-item>

 

  <ion-item lines="none" (click)="chatEncerrar();">
    
    <ion-icon slot="start" name="close-outline"></ion-icon>
    <ion-label>
      Encerrar
    </ion-label>
  </ion-item>
  

</ion-list>