<ion-header mode='ios'>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
     
    </ion-buttons>
    <ion-title>Configurações</ion-title>
  </ion-toolbar>

  
</ion-header>

<ion-content>
  <ion-list>
    
    <ion-item routerLink="/configuracoes/chat/home" routerdirection="forward" mode="ios">
      <ion-label>
        <p><strong>Canais</strong></p>
        <p color='medium'>Configure suas redes sociais: WhatsApp, Facebook e Telegram</p>

      </ion-label>
      
      
    </ion-item>
    <ion-item routerLink="/produtos" routerdirection="forward" mode="ios">
      <ion-label>
        <p><strong>Produtos</strong></p>
        <p color='medium'>Adicione, altere, exclua e configure seus produtos</p>

      </ion-label>
      
      
    </ion-item>

    <ion-item routerLink="/configuracoes/usuarios" routerdirection="forward" mode="ios">
      <ion-label>
        <p><strong>Usuários</strong></p>
        <p color='medium'>Gerenciamento de usuários</p>

      </ion-label>
      
      
    </ion-item>
    <ion-item routerLink="/configuracoes/financeiro" routerdirection="forward" mode="ios">
      <ion-label>
        <p><strong>Financeiro</strong></p>
        <p color='medium'>Cond. pagamento, plano de contas, meio de pagamentos</p>

      </ion-label>
      
      
    </ion-item>
  
 
  </ion-list>
</ion-content>
