img.user-avatar {
    height: 50px; 
    width: 50px; 
    margin-right: unset; 
    margin-inline-end: 32px;
    object-fit: fill;
    border-radius: 50%;
}

ion-icon.user-avatar {
    height: 50px; 
    width: 50px; 
    margin-right: unset; 
    margin-inline-end: 32px;
}