ion-text{
    text-align: center;;
}
.ion-note{
    padding: 10px !important;
    margin: 10px !important;
    text-align: center;
}
.itemlista{
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 5px;
  
}