// ion-list{
//     --background: none;
//     background-color: transparent;
// }
ion-item.ionitem{
    border: 1px solid #37393f;
    border-radius: 10px;
    margin-top:10px;
    margin-bottom:10px;
    border-style: solid;
   
}
.btncadastro{
    --background:white;
    --color:#FF8C00;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px solid #FF8C00;
    @media only screen and (max-width: 600px) {
        // --border-color:#FF8C00;
        // --border-width:2px;
        // --border-style:solid;
       
    }
}

.login-row {
    margin-left: 6%; margin-right: 6%;
    @media only screen and (max-width: 600px) {
        top: 0%;
        transform: translate(0%, 0%);
        position: inherit;
    }
}

.btnEntrarHeader {
    display: flex;
    align-items: center;
}

.btEntrar{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.btnrecuperarsenha {
    font-size: 8rem;
    width: 100%;
    display: flex;
    justify-content: right;

    @media (max-width: 575.98px){
        color: dodgerblue;
    }

    p {
        padding-left: 5px;
        padding-right: 5px;
        margin-left: auto;
    }
}

.btnrecuperarsenha:hover{
    color: dodgerblue;
}

.toolbar-background-md{
    background-color: white;
}


.login-background {
    background-image: url('../../../../assets/img/Lara_APP_04.png') ;
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;
    // min-height: 600px;
    // max-height: 600px;
    // min-width: 290px;
    // max-width: 290px;
    border: 1px solid #FF8C00;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    position: inherit;
    

    @media (max-width: 575.98px) {
        background: none;
        position: relative;
        top: 50%;
        left: 0%;
        margin-left: 0;
        min-height: 100vh;
        max-height: 100vh;
        min-width: 100%;
        max-width: 100%;
        border: 0px solid #FF8C00;
        border-radius:0px;
        transform: translate(0%, -50%);
    }

    @media (max-width: 767.98px) {
        background: none;
        position: inherit;
        top: 0%;
        margin-left: 0;
        height: 100vh;
        min-width: 100%;
        max-width: 100%;
        border: 0px solid #FF8C00;
        border-radius:0px;
        transform: translate(0%, 0%);
        padding: 15vh 0px;
    }

    @media (min-width: 768px){
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


}

.login-box {
    width: 100%;
    margin-bottom: 10vh;
}


.login-content {
    @media only screen and (max-width: 600px) {
        --background: none;
        background-image: url('../../../../assets/img/Lara_APP_04.png') !important;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;

        min-width: 100vw;
        max-width: 100vw;
    }

}

a {
    text-decoration: none;
}