
.boxionitem{
  border:0.02em solid #92949c;
  margin: 5px;
  border-radius: 10px;
  margin-left: 6%;
  margin-right: 6%;

  ion-label{
      color: #92949c;
      position: absolute;
      margin-top: 2px;
      left: 2px;
      top:0;
      margin-bottom: 8px;
      font-size: small;
      width: 100% !important;
  }
  ion-select{
      width: 100% !important;
      --padding-end:1px;
      --padding-start:1px;
      max-width: 100%;
      min-width:100%;
  }
  p{
      width: 100%;
      display: block;
      word-wrap: break-word; 
  }
  ion-textarea{
      padding-top: 10px !important;
  }
}

.validerror{
  position: absolute;
  bottom: -8px;
}
.nolines{
  border: 0;
}

.ionitem{
  border:1px solid #92949c;
  margin: 5px;
  border-radius: 10px;
  margin-left: 6%;
  margin-right: 6%;
  
  ion-label{
      color: #92949c;
      position: absolute;
      margin-top: 2px;
      left: 2px;
      top:0;
      margin-bottom: 5px;
      font-size: small;
      width: 100% !important;
  }
  ion-label.toggle{
    color: #92949c;
    position: unset;
    margin-top: unset;
    left: 2px;
    top: unset;
    margin-bottom: unset;
    font-size: small;
    width: 100% !important;
  }
  ion-select{
      width: 100% !important;
      --padding-end:1px;
      --padding-start:1px;
      max-width: 100%;
      min-width:100%;
  }
  p{
      width: 100%;
      display: block;
      word-wrap: break-word; 
  }
  ion-textarea{
      padding-top: 10px !important;
  }
  
  @media only screen and (max-width: 600px) {
      
          border:0.02em solid #92949c;
      
      
  }
}

ion-avatar {
  width: 150px;
  height: 150px;
}


ion-toggle {
  transform: scale(0.6);
}

.screen-border {
  margin-left: 6%;
  margin-right: 6%;
  padding: 0px !important;
}

.parceiro-search {
  --box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
}
.box-detail{
  margin: 2px;
  border: 1px solid #FF8C00;
  padding: 0px;
  border-radius: 10px;
 

  .box-titulo{
      padding: 5px;
      height: 30px;
      border-radius: 10px 10px 0 0px;
      background: rgba(#FF8C00, 0.5);
      ion-card-subtitle {
          padding-left: 10px;;
      }
      ion-card-content{
          padding: 5px;
      }
  }

  @media only screen and (max-width: 600px) {
      //titulos de pagina
      min-width: 100%;
      max-width: 100%;
  }
}