<ion-header mode='ios'>
  <ion-toolbar>
    <!-- <ion-icon name="arrow-back-outline" slot="start" class='btnVoltar' (click)="functionExecute('compConfiguracoesHome',{componente:'home'})" style="cursor: pointer;"></ion-icon> -->
    <ion-title color='primary'>Produto</ion-title>
  </ion-toolbar>
  

</ion-header>

<ion-fab class="float-fab-left" vertical="top" horizontal="start" slot="fixed">
  <ion-fab-button color="secondary" (click)="functionExecute('compConfiguracoesProdutosHome',{})">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab class="float-fab-left" vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button color="success" (click)="gravar()">
    <ion-icon name="save-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content class="default-content">
  
  <ion-item lines='none' style="margin-bottom: 5px;">
    <label for="upload" style="margin-left: auto; margin-right: auto; cursor: pointer;">
      <ion-avatar title="Trocar imagem">
        <img *ngIf="dadosProduto.photoURL" src="{{dadosProduto.photoURL}}">
        <img *ngIf="!dadosProduto.photoURL" src="../../../../../../assets/img/productlogo.png" style="transform: scale(1.2); object-fit: cover; filter: invert(10%) sepia(11%) saturate(0%) hue-rotate(181deg) brightness(88%) contrast(200%);">
      </ion-avatar>
      <input id="upload" type="file" [(ngModel)]="newPhoto" style="display: none;" (change)="uploadFile($event)">
    </label>
  </ion-item>

  <ion-item lines='none' class="ionitem">
    <ion-label color="primary" stacked>Código</ion-label>
    <ion-input type="text" placeholder='' [(ngModel)]="dadosProduto.codigo"></ion-input>
  </ion-item>
  <ion-item lines='none' class="ionitem">
    <ion-label color="primary" stacked>SKU</ion-label>
    <ion-input type="text" placeholder='' [(ngModel)]="dadosProduto.sku"></ion-input>
  </ion-item>
  <ion-item lines='none' class="ionitem">
    <ion-label color="primary" stacked>EAN</ion-label>
    <ion-input type="text" placeholder='' [(ngModel)]="dadosProduto.ean"></ion-input>
    
  </ion-item>
  <ion-item lines='none' class="ionitem">
    <ion-label color="primary" stacked>NCM</ion-label>
    <ion-input type="text" placeholder='' [(ngModel)]="dadosProduto.ncm" readonly></ion-input>
    <ion-button  color="secondary" slot="end" (click)="abrirNCM()">
      <ion-icon name="reader-outline"></ion-icon>
    </ion-button>
  </ion-item>
  
  <ion-item lines='none' class="ionitem">
    <ion-label color="primary" stacked>Tipo fabricacao</ion-label>
    <ion-select value="whatsapp" value='telegram' okText="Confirmar" cancelText="Cancelar" [(ngModel)]="dadosProduto.tipoFabricacao" >
      <ion-select-option value="propria">Própria</ion-select-option>
      <ion-select-option value="cpnacional">Compra mercado nacional</ion-select-option>
      <ion-select-option value="cpinternacional">Compra mercado internacional</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="ionitem">
    <ion-label color="primary" stacked >Unidade de medida  </ion-label>
    <ion-input type="text" placeholder='' [(ngModel)]="dadosProduto.unid"></ion-input>
  </ion-item>
  <ion-item class="ionitem">
    <ion-label color="primary" stacked >Descrição Curta <span style="font-size: small;">(Esta descrição sera exibida nas nos itens do orçamento)</span></ion-label>
    <ion-textarea type="text" placeholder='' [(ngModel)]="dadosProduto.descricaoCurta" rows='5' ></ion-textarea>
  </ion-item>

  <ion-item class="ionitem">
    <ion-label color="primary" stacked >Descrição Longa <span style="font-size: small;">(Informe aqui mais detalhes sobre o produto)</span></ion-label>
    <ion-textarea type="text" placeholder='' [(ngModel)]="dadosProduto.descricaoLonga" rows='5' ></ion-textarea>
  </ion-item>

  <ion-item class="ionitem">
    <ion-label color="primary" stacked >Descrição Fiscal <span style="font-size: small;">(Informe a descrição que será impressa na nota fiscal)</span></ion-label>
    <ion-textarea type="text" placeholder='' [(ngModel)]="dadosProduto.descricaoFiscal" rows='5' ></ion-textarea>
  </ion-item>

  <ion-item class="ionitem">
    <ion-label color="primary" stacked >Observações</ion-label>
    <ion-textarea type="text" placeholder='' [(ngModel)]="dadosProduto.ObservacoesGeral" rows='5' ></ion-textarea>
  </ion-item>

  <ion-item class="ionitem">
    <ion-label color="primary" stacked>Vr. Compra</ion-label>
    <ion-input type="number" placeholder='' [(ngModel)]="dadosProduto.vrCompra"></ion-input>
  </ion-item>

  <ion-item class="ionitem">
    <ion-label color="primary" stacked>Vr. Venda</ion-label>
    <ion-input type="number" placeholder='' [(ngModel)]="dadosProduto.vrVenda"></ion-input>
  </ion-item>

  <ion-item class="ionitem">
    <ion-label color="primary" stacked>Peso Liquido </ion-label>
    <ion-input type="number" placeholder='' [(ngModel)]="dadosProduto.pesoL"></ion-input>
  </ion-item>

  <ion-item class="ionitem">
    <ion-label color="primary" stacked>Peso Bruto</ion-label>
    <ion-input type="number" placeholder='' [(ngModel)]="dadosProduto.pesoB"></ion-input>
  </ion-item>
  
</ion-content>