ion-grid, ion-row {
    height: 100%;
}
.home-side{
    height: 100%;
    margin-top: 20vh;
    width: 10px
}
.home-chat {
    height: 100%;
   // border-right: 0.01em solid #FF8C00;
}

.home-dashboard {
    height: 100%;
   
}

.home-desk-header {
    font-size: 10px !important;
}


