.msg_e
{
    border: 1px solid #92949c;
    border-radius: 10px;
    padding: 8px;
    min-width: 60%;
    max-width: 80%;
    float: left;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    margin-left: 3vw;
    margin-right: auto;
    z-index: 1;
    background-color: #e7e7ea;
}

.msg_imagem_e
{
    border: 1px solid #92949c;
    border-radius: 10px;
    min-width: 60%;
    max-width: 80%;
    float: left;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    margin-left: 3vw;
    margin-right: auto;
    z-index: 1;
    background-color: #e7e7ea;
}

.msg_e + .msg_e {
    margin-top: 0.5vw !important;
}
.msg_s{
    border: 1px solid #e07b00;
    border-radius: 10px;
    padding: 8px;
    min-width: 60%;
    max-width: 80%;
    float: right;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    margin-left: auto;
    margin-right: 3vw;
    z-index: 1;
    background-color: #fff;
}
.msg_img_e{
    
    float: left;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    margin-left: 3vw;
    margin-right: auto;
    z-index: 1;
   
}
.msg_s + .msg_s {
    margin-top: 0.5vw !important;
}

.autor{
    font-weight: lighter;
    float: left;
    font-size: small;
}
.detalhe{
    font-weight: lighter;
    float: right;
    margin-left: auto;
    font-size: small;
}

.textarea-send
{
    border: 1px solid #FF8C00;
    width: 100%;
    padding: 5px;
}
textarea:focus{
    outline: 0;
}
ion-content {
    --background: none;
    background-image: url('../../../../assets/img/Lara_APP_04.png');
    background-size: cover;
    background-position: center center;
}

// .send-button {
//     --padding-start: 0.5em;
//     --padding-end: 0.5em;
//     color: #FF8C00;
//     background: transparent !important;
//     border-radius: 0px !important;
// }

.send-icon-arrow {
    font-size: 24px !important;
}

.send-icon-mic {
    font-size: 32px !important;
}

.send-button:disabled {
    opacity: 0.50;
}

.align-col-content {
    align-items: center;
    display: flex;
}

.msg-body {
    width: 100%;
    margin-bottom: 10px;
}

.msg-link-text {
    width: 100%;
}

.msg-audio {
    width: 100%;
    cursor: pointer;
}

.msg-img {
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}


button ion-riple-effect {
    // --background-hover: var(--ion-color-primary, #3880ff);
    --background-hover: transparent;
}
.colorcheckmark_1{
    color:  deepskyblue;
}
.colorcheckmark_4{
    color:  red;
}

.badgeorigem{
    
    position:absolute;
    left: 69px;
    top: 10px;
    z-index: 5;
    background: transparent;
    width: 35px;

}
.badgefavorito{
    
    position:absolute;
    left: 55px;
    bottom: 6px;
    z-index: 5;
    background: transparent;
    width: 35px;

}
.ion-icon {
    margin-right: 15px;
}
.itempadding{
    padding: 0px;
}
.boxfooter{
    border-radius: 10px;
    border: 0.02em solid #FF8C00;
 
    padding: 5px;
    width: 100%;
}
.custom-popover{
    --min-height:500px;
    --width:500px;
}
