ion-input {
    text-transform: uppercase;
}
ion-label {
    width: 20vw;
}
.spanvr{
    position: absolute;
    font-size: small;
    top: 0;
}
.alinharesquerda
{
    
    display: inline-block;
    left:  0;
}
.alinhardireita
{
    display: inline-block;
    margin-left: auto;
    text-align: right;
}
.avatarempresa{
    border: 0.02em solid #FF8C00;
}



.boxionitem{
    border:0.02em solid #92949c;
    margin: 5px;
    border-radius: 10px;
    margin-left: 6%;
    margin-right: 6%;

    ion-label{
        color: #92949c;
        position: absolute;
        margin-top: 2px;
        left: 2px;
        top:0;
        margin-bottom: 5px;
        font-size: small;
        width: 100% !important;
    }
    ion-input{
        margin-top: 5px;
    }
    ion-select{
        width: 100% !important;
        --padding-end:1px;
        --padding-start:1px;
        max-width: 100%;
        min-width:100%;
    }
    p{
        width: 100%;
        display: block;
        word-wrap: break-word; 
    }
    ion-textarea{
        padding-top: 10px !important;
    }
}

.validerror{
    position: absolute;
    bottom: -8px;
}
.nolines{
    border: 0;
}